
{% extends 'AppLaVecchia/base.html' %}

{% load static %}

{% block title %} Acerca de nosotros {% endblock title %}

{% block main %}
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"></h2>
                        <ul>
                            <p>Bienvenido a nuestro sitio web. Somos los creadores de este proyecto y estamos emocionados de presentarte a LaVecchia.</p>
                        </ul>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}