{% extends 'AppLaVecchia/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
    

<div class="row">
    {% for menu in object_list %}
        <div class="card" style="width: 18rem;" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ menu.nombre }}</h5>
            <p class="card-text">PRECIO: {{ menu.precio }}</p>
            <a href="{% url 'Detail' menu.id %}" class="btn btn-primary">Ver</a>
            <a href="{% url 'Update' menu.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'Delete' menu.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>







{% endblock main %}